@use 'editorMenu.sass'

*
    box-sizing: border-box

body
    background-color: turquoise
    margin: 0
    padding: 0

.page-container
    width: 100%
    // Maybe change these margins
    margin-left: 0
    margin-right: 0

.title
    width: 100%
    text-align: center

a
    text-decoration: none
