doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Editor Menu
    body 
        //- Have a couple of preset objects to make it simpler to display the menu

        //- I believe that this is a perfect application of display: grid